.melyna {
	background-color: blue;
	
}
.darkblue {
	background-color: #0C4F7D;
}
.lightblue {
	background-color: #2D9CE8;
}
.kairys1 {
	height: 100px;
	
}
.desinys1 {
	height: 100px;

}
.virsus {
	height: 100px;
}
.apacia {
	height: 300px;
}
.block6 {
	height: 300px;
}
.block3 {
	height: 200px;
}
.block7 {
	height: 100px;
}
.block4 {
	height: 90px;
}
.block5 {
	height: 90px;
}
.block8 {
	height: 100px;
}
.block9 {
	height: 100px;
}
.block6789 {
	background-color: green;
	height: 400px;
}